h2 {
    text-align: center;
    color: black;
    background-color: rgb(112, 107, 107);
    border-radius: 20px;
}
i {
    color : red
}
b{
    color: rgb(92, 92, 92)
}
p {
    color: rgb(163, 45, 45)
}
